apiVersion: v1
kind: Service
metadata:
  name: {{ include "tunnel-operator.fullname" . }}-headless
  namespace: {{ include "tunnel-operator.namespaceName" . }}
  labels:
    {{- include "tunnel-operator.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "tunnel-operator.selectorLabels" . | nindent 4 }}
